.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#121212, #212b46);
}

.title{
    font-size: 80px;
    color: #fff;
    animation: flipTitle 1s;
}

@keyframes flipTitle {
    from{
        transform: rotateX(90deg);
    }
    to{
        transform: rotateZ(0deg);
    }
    
}

.containerInput{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    margin: 34px 0;
    display: flex;
    border-radius: 10px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.6);
}

.containerInput input{
    background-color: transparent;
    border: 0;
    color: #fff;
    outline: none;
    margin-right: 15px;
}

.containerInput input::placeholder{
    color: #f1f1f1;
}

.buttonSearch{
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;
}

.buttonSearch:hover{
    transform: scale(1.2);
}

.main{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    border-radius: 10px;
    animation:flipMain 0.5s;
}
@keyframes flipMain {
    from{
        transform: rotateX(90deg);
    }
    to{
        transform: rotateZ(0deg);
    }
    
}

.main h2{
    font-size: 39px;
    margin: 16px 0;
}

.main span{
    margin-bottom: 10px;
    font-weight: bold;
}

@media(max-width: 670px){
    .title{
        font-size: 60px;
    }

    .main h2{
        font-size: 29px;
    }

    .main{
        width: 80%;
    }
}

@media(max-width: 504px){
    .title{
        font-size: 40px;
    }

    .main h2{
        font-size: 19px;
    }

    .main{
        width: 60%;
    }
}